* {
    font-family: 'Palatino Linotype';
    margin: 0px;
    padding: 0px;
}

h2 {
    font-size: 3em;
    margin: 1%;
    padding: 1%;
    background-color: #527138;
    border-radius: 4px;
    color: white;
}

label{
    font-size: 2em;
}

input {
    font-size: 2em;
}

p {
    font-size: 2em;
}

button {
    font-size: 2em;
}

.menu-container {
    float: left;
    margin: 1%;
    overflow: hidden;
    width: 18%;
}

.menu-item {
    overflow: hidden;
    border-style: solid;
    border-color: #527138;
    border-radius: 4px;
    margin-bottom: 1%;
    background-color: #527138;
}

.menu-item h2 {
    width: 100%;
    text-align: left;
    border-radius: 0px;
    margin: 0, 0, 0, 0;
}

.menu-item label {
    min-width: 70px;
    background-color: #527138;
    color: white;
    margin-left: 2%;
} 

.menu-item input {
    display: inline-block;
    width: 100%;
}

.output-container {
    float: left;
    margin: 1%;
    overflow: hidden;
    width: 78%;
}

.output-container h2{
    text-align: left;
    border-radius: 4px;
    margin: 0;
    margin-bottom: 1%;
    border-radius: 4px;
}

.output-book-container {
    width: 100%;
}

.output-item {
    overflow: hidden;
    border-style: solid;
    border-color: #527138;
    border-radius: 4px;
    margin-bottom: 1%;
    background-color: #527138;
}

.output-item h2 {
    width: 98%;
    text-align: left;
    border-radius: 0px;
    margin: 0;
}

.output-item label {
    min-width: 70px;
    background-color: #527138;
    color: white;
    margin-left: 2%;
} 

.output-item button {
    display: inline-block;
    width: 100%;
}

.output-item p {
    margin: 0;
    margin-left: 2%;
    color: white; 
}

button, #Add_Book_Button {
    background-color: #ED7D20;
    border: 0px;
    color: white;
    width: 100%;
}

button:hover, #Add_Book_Button:hover {
    background-color: #527138;
}

@media only screen and (max-width: 1100px) {
.menu-container {
    width: 98%;
}
.output-container {
    clear: both;
    width: 98%;
}

.output-item {
    clear: both;
    width: 100%;
}
   
}