* {
    font-family: 'Palatino Linotype';
}

button, #Add_Book_Button {
    background-color: #ED7D20;
    border: 1px solid #111;
    border-radius: 4px;
    color: white;
}

    button:hover, #Add_Book_Button:hover {
        background-color: #527138;
        padding: 1px;
        border: 1px solid #111;
        border-radius: 4px;
        color: white;
    }

.flex-container div, form {
    margin-top: 2%;
}

#Add_Book_Button {
    margin-top: 1%;
}



.bookListItem button {
    margin-top: 1%;
}

h2 {
    margin: 0%;
    background-color: #527138;
    color: white;
}


@media only screen and (max-width: 600px) {

    * {
        font-family: 'Palatino Linotype';
     }

    button, #Add_Book_Button {
        background-color: #ED7D20;
        border: 1px solid #111;
        border-radius: 4px;
        color: white;
    }

        button:hover, #Add_Book_Button:hover {
            background-color: #527138;
            padding: 1px;
            border: 1px solid #111;
            border-radius: 4px;
            color: white;
        }

        .flex-container div, form {
            margin-top: 2%;
        }

        #Add_Book_Button {
            margin-top: 1%;
        }
        
        .bookListItem button {
            margin-top: 1%; 
        }

        h2 {
            margin: 0%;
            background-color: #527138;
            color: white; 
        }
    }


/*p span {
    display: block;
}*/